@charset "utf-8";

/****** PC / MO ******/

.only-pc{display: block !important;}
@media all and (min-width: 769px){
	.only-mo{display:none !important;}
}
@media all and (max-width: 768px){
	.only-pc{display:none !important;}
}

/****** blind ******/
.blind,
.ico > span {visibility: hidden; overflow: hidden; 
	position: absolute; top: -1px; left: -1px;  z-index:-1;
	width: 1px; height: 1px; font-size: 0; line-height: 0;
}

/****** img-wrap && img ******/
.img-wrap {position: relative; overflow: hidden;}
.img {display: block;}

/****** title ******/
[class*="-title"]{}
:is(.page-title, .page-text){font-family: "Bebas Neue", sans-serif; }
.page-title{font-size: clamp(75px,8.065vw,100px); color: var(--white-06); line-height: 1;}
.page-text{font-size: clamp(110px,11.29vw,140px); letter-spacing: -0.2rem; position: relative; top: 2px;
	display: -webkit-box;display: -ms-flexbox;display: flex; gap: 10px; line-height: 1.2;
}
@media all and (max-width: 768px) {
	.page-title{font-size: clamp(42px,9.766vw,75px);}
	.page-text{font-size: clamp(60px,14.323vw,110px);}
}

.article-title{}
.section-title{font-family: "Bebas Neue", sans-serif; font-size: clamp(40px,9.115vw,70px);
	color: var(--yellow); transform: scaleY(1.5);
}

/****** ico ******/
.ico { display: inline-block; 
	background-repeat: no-repeat; background-position: center;
	background-size: cover;
}
/* 14px */
.ico.arrow-2{width: 20px; height: 20px; background-image: url("../images/ico/ico_arrow2.svg"); }
/* 20px */
.ico.arrow-1{width: 20px; height: 20px; background-image: url("../images/ico/ico_arrow1.svg"); }



/****** ellipsis ******/
.ellipsis {display: block; overflow: hidden; text-overflow: ellipsis;}
.ellipsis[class*="line"] { display: -webkit-box; -webkit-box-orient: vertical; }
.ellipsis:not([class*="line"]) { white-space: nowrap; -webkit-line-clamp: 1; }

.ellipsis.line2		{-webkit-line-clamp: 2;}
.ellipsis.line3		{-webkit-line-clamp: 3;}
.ellipsis.line4		{-webkit-line-clamp: 4;}


/****** flex ******/
[class*="flex-"] {gap: 8px;
	display: -webkit-box;display: -ms-flexbox;display: flex;
}
[class*="flex-center"] {text-align: center;
	-webkit-box-pack: center; -ms-flex-pack: center; justify-content: center;
}
[class*="flex-both"] {
	-webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between;
}
[class*="flex-"][class*="-top"]	{
	-webkit-box-align: start; -ms-flex-align: start; align-items: flex-start;
}
.flex-left, .flex-both,
.flex-center {
	-webkit-box-align: center;-ms-flex-align: center;align-items: center;
}

.flex-start{-webkit-box-align: start;-ms-flex-align: start;align-items: flex-start;}
.flex-column{
	-webkit-box-orient: vertical;-webkit-box-direction: normal;
	-ms-flex-direction: column;flex-direction: column;
}


/****** grid ******/
[class*="grid-"]{gap: 8px;
	display: -ms-grid;display: grid;
}

/******  ******/
.gap-10{gap: 10px;}
.gap-20{gap: 20px;}
.gap-30{gap: 30px;}


/****** tag && badge common ******/
.tag-wrap,
.badge-wrap{ gap: 10px;
	display: -webkit-box; display: -ms-flexbox; display: flex; 
	-ms-flex-wrap: wrap; flex-wrap: wrap;
	-webkit-box-align: center; -ms-flex-align: center; align-items: center;
}


:is(.tag, .badge){
	display: -webkit-box;display: -ms-flexbox;display: flex;
	-webkit-box-align: center;-ms-flex-align: center;align-items: center;
	-webkit-box-pack: center;-ms-flex-pack: center;justify-content: center;
	padding: 8px 14px; line-height: 1;
	transition: all 0.2s ease-out;
}

/* tag */
.tag{ font-size: 12px; border-radius: 6px; border: 1px solid var(--white-06); color: var(--white-06);}
.tag.type1{}
.tag.type2{}
.tag.type3{}

/* badge */
.badge{}
.badge.type1{}
.badge.type2{}
.badge.type3{}


/****** item ******/
.item{
	display: -webkit-box;display: -ms-flexbox;display: flex;
	-webkit-box-align: center;-ms-flex-align: center;align-items: center;
	transition: all 0.2s ease-out;
}

/* item.method */
.item.method{ gap: 10px; 
	padding: 20px 15px 10px clamp(25px,3.906vw,30px);
	-webkit-box-align: end;-ms-flex-align: end;align-items: flex-end;
	border: 1px solid var(--white-06); border-radius: 10px; color: var(--white-06);
	line-height: 1; font-family: "Bebas Neue", sans-serif;
}
.item.method .numbering{padding-bottom: 12px;}
.item.method p{ position: relative; top: 2px; display: block; color: var(--white-06);
	font-size: clamp(60px,6.048vw,75px); font-weight: 500; letter-spacing: -0.2rem;
	transition: color 0.2s ease-out;
}
.item.method p span{ display: block; font-size: 20px; letter-spacing: 0rem; }
@media all and (max-width: 768px) {
	.item.method p{font-size: clamp(40px,7.813vw,60px); letter-spacing: clamp(-0.2rem,-0.3725vw,-0.05rem);}
}

/* item.project */
.item.project{ width: 100%; padding: 30px 15px; 
	color: var(--white-06);
	-webkit-box-orient: vertical;-webkit-box-direction: normal;
	-ms-flex-direction: column;flex-direction: column;
	-webkit-box-align: start;-ms-flex-align: start;align-items: flex-start;
}
@media all and (max-width: 635px) {
	.item.project{padding-left: 0; padding-right: 0;}
}


/****** data-list && col ******/
.data-list[class*="col"]{ gap: 30px;
	display: -webkit-box;display: -ms-flexbox;display: flex;
	-ms-flex-wrap: wrap;flex-wrap: wrap;
	-webkit-box-pack: start;-ms-flex-pack: start;justify-content: flex-start;
}

.data-list.col-2 li{}
.data-list.col-3 li{}
.data-list.col-4 li{}

.data-list.list{}
.data-list.list li + li{border-top: 1px solid var(--white-06);}


/****** tabs ******/
.tabs{display: -webkit-box;display: -ms-flexbox;display: flex; }
.tabs a{ position: relative; display: block; margin: 0; text-align: center;
	-webkit-user-select: none; -moz-user-select: none; 
	-ms-user-select: none; user-select: none;
	-webkit-touch-callout: none; cursor: pointer; 
}
.tabs li:not(.current) a	{color: #000;}
.tab-content:not(.active)	{display: none;}

/* type */
.tabs.type1{}
.tabs.type2{}


/****** pagination ******/
.pagination, .pagination :is(ul, a){
	display: -webkit-box;display: -ms-flexbox;display: flex;
	-webkit-box-align: center;-ms-flex-align: center;align-items: center;
	-webkit-box-pack: center;-ms-flex-pack: center;justify-content: center;
}
.pagination{gap: 0 20px;}
.pagination ul{}
.pagination li{}
.pagination li:is(:hover, .current) a{color: red;}

.pagination a{width: 40px; height: 40px;}
.pagination a.next{}
.pagination a.prev{}

