:root {
	--vh100: calc(var(--vh, 1vh) * 100);

	/****** btn & input ******/
	--xsmall: 32px;
	--small: 48px;
	--medium: 56px;
	--large: 64px;
	
	/* scroll */
	--scroll: 4px;	

	/* color */
	--black : #0A0A0A;
	--black-1 :#121212;
	--black-2 :#1D1D1D;
	
	--white : #FFFFFF;
	--white-2 : #F1F1F1;
	--white-02: rgba(255, 255, 255, 0.2);
	--white-06: rgba(255, 255, 255, 0.6);
	
	--green: #2E7D32;
	--yellow: #ebf77f;
	
	--gray-1 : #c7c7c7;
	--gray-2 : #D8D8D8;

}


@media all and (min-width: 1025px){
	:root {
		--header: 0;
		--gutter : 20px;
	}
}
@media all and (max-width: 1024px) {
	:root {
		--header: 0;
		--gutter : 10px;
	}
}

@media all and (min-width: 769px){
	:root {
		--footer: 46px;
	}
}
@media all and (max-width: 768px) {
	:root {
		--footer: clamp(60px,9.115vw,70px);
	}
}
