@charset "utf-8";
/* hanbom.com */

/* common form reset */
label,
input,
select,
textarea,
fieldset								{box-sizing: border-box;}
input,
select,
textarea,
input::-webkit-search-cancel-button,
input::-webkit-calendar-picker-indicator{
	appearance:none;
	-webkit-appearance:none;
}
select::-ms-expand 						{display: none;}
legend									{display: table; padding: 0;}
fieldset								{margin: 0; padding: 0; min-width: 0; border: 0;}
body:not(:-moz-handler-blocked) fieldset{display: table-cell;}
label									{display: inline-block; cursor: pointer;}
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
	-webkit-appearance: none; margin: 0;
}
input[type=number] {
	-moz-appearance: textfield;
}

/* common form style */
input,
select,
textarea						{ border-radius: 5px; font-weight: 400;}

input,
textarea						{caret-color: var(--black);}
input:focus,
select:focus,
textarea:focus					{outline-color: transparent; outline-style: none; border-color: var(--red);}

input.type2,
textarea.type2					{caret-color: var(--white);}
input.type2:focus,
select.type2:focus,
textarea.type2:focus			{border-color: var(--white);}

/* input-text & select & textarea */

/* normal */
.input-text,
.select,
.textarea					{border: 1px solid var(--gray); color: var(--black-80);}
::placeholder				{color: var(--black-40);}
.input-text.error,
.select.error,
.textarea.error				{border-color: var(--red-4);}

/* black */
.input-text.type2,
.select.type2,
.textarea.type2				{border-color: var(--black-5); color: var(--white); background-color: var(--black-3);}
.select.type2 option{color: var(--black);}
.type2::placeholder			{color: var(--white-40);}
.input-text.type2.error,
.select.type2.error,
.textarea.type2.error			{border-color: var(--red-2);}  

/* size */
.input-text.medium,
.select.medium							{height:var(--medium); padding: 0 16px; font-size: var(--fs-16);}

/* input-text */
.input-text								{}
.input-text[type="search"]::-webkit-search-cancel-button,
.input-text[type="date"]::-webkit-clear-button {position: relative; right: .25rem; width: 1.5rem; height: 1.5rem;
	-webkit-appearance: none; -moz-appearance: none; appearance: none;
	background: url('../images/@uio/btn_delete.svg') no-repeat 0 0;
}
.input-text[type="search"]{background-color: var(--white);}

/* select */
.select									{position: relative; vertical-align: middle; background: #fff url("../images/ico/select_down.svg") no-repeat calc(100% - 16px) 50%; background-size: 20px 20px; }
.select.type2{background-image: url("../images/ico/select_down2.svg");}
.select.is-empty						{color: var(--gray);}

/* textarea */
.textarea								{padding: 16px; resize: none; font-size: 16px;}

/* checkbox & radio*/

.check-wrap{
	display: -webkit-box; display: -ms-flexbox; display: flex; 
	-webkit-box-align: center; -ms-flex-align: center; align-items: center;
}
.check-wrap .checkbox{margin-right: 12px;}

label,
.radio,
.checkbox						{vertical-align: middle}
.radio,
.checkbox						{position: relative !important;overflow: hidden;margin:0;}
.checkbox.circle{border-radius: 50%;-webkit-border-radius: 50%;}
.radio{border-radius: 50%;-webkit-border-radius: 50%;}

.radio:disabled + label,
.checkbox:disabled + label		{color: var(--black-80);}

.checkbox + label{font-size: 16px;}
@media all and (min-width: 821px){
	.radio,
	.checkbox{width: 20px;height: 20px;}
	:not(.insert) .radio + label,
	:not(.insert) .checkbox + label	{margin-left: 16px;line-height: 20px;}
}

@media all and (max-width: 820px){
	.radio, 
	.checkbox{width: 18px;height: 18px;}
	:not(.insert) .radio + label,
	:not(.insert) .checkbox + label	{margin-left: 8px;line-height: 18px;}
}

.radio:before,
.checkbox:before				{content: '';display: block;width: 100%;height: 100%;border: solid 1px var(--gray);
	-webkit-transition: 0.2s border-color ease;
			transition: 0.2s border-color ease; box-sizing: border-box;

			
}
.radio.type2:before,
.checkbox.type2:before{border-color: var(--white-40);}

.checkbox.circle:before{border-radius: 50%;}
.checkbox,
.checkbox:before{border-radius: 3px;-webkit-border-radius: 3px;}
.radio:checked:before,
.checkbox:checked:before		{border-color: var(--red);background-color: var(--red);-webkit-transition: 0.5s border-color ease;transition: 0.5s border-color ease;}
.radio:checked:before,
.checkbox.type2:checked:before		{border-color: var(--white-40);background-color: transparent;-webkit-transition: 0.5s border-color ease;transition: 0.5s border-color ease;}


.radio:disabled,
.checkbox:disabled {background-color: transparent;}
.radio:disabled:before,
.checkbox:disabled:before		{border-color: var(--gray-40);background-color: var(--gray-40);}
.radio:after,
.checkbox:after					{content: '';position: absolute;top: 50%;left: 50%;display: block;
	-webkit-transform-origin: 50% 50%;
			transform-origin: 50% 50%;
	-webkit-transform: translate(-50%, -50%) scale(0);
			transform: translate(-50%, -50%) scale(0);
}
.radio:before					{border-radius: 50%;}
.radio:after					{width: 6px;height: 9px;background-color: transparent;border-radius: 0;
	-webkit-transform: translate(-50%, -85%) scale(0) rotate(45deg);
			transform: translate(-50%, -85%) scale(0) rotate(45deg);
			box-shadow: 2px 2px 0px 0px var(--black);
}
.radio:checked:after			{
	-webkit-animation: toggleOnRadio 0.2s ease forwards;
			animation: toggleOnRadio 0.2s ease forwards;
			box-shadow: 2px 2px 0px 0px var(--white);
}
.checkbox:after					{width: 6px;height: 9px;background-color: transparent;border-radius: 0;
	-webkit-transform: translate(-50%, -85%) scale(0) rotate(45deg);
			transform: translate(-50%, -85%) scale(0) rotate(45deg);
			box-shadow: 2px 2px 0px 0px var(--black);
}
.checkbox:checked:after			{
	-webkit-animation: toggleOnCheckbox 0.2s ease forwards;
			animation: toggleOnCheckbox 0.2s ease forwards;
			box-shadow: 2px 2px 0px 0px var(--white);

}
@-webkit-keyframes toggleOnCheckbox {
	0% {
		opacity: 0;
		-webkit-transform: translate(-50%, -85%) scale(0) rotate(45deg);
				transform: translate(-50%, -85%) scale(0) rotate(45deg);
	}
	70% {
		opacity: 1;
		-webkit-transform: translate(-50%, -85%) scale(0.9) rotate(45deg);
				transform: translate(-50%, -85%) scale(0.9) rotate(45deg);
	}
	100% {
		-webkit-transform: translate(-50%, -85%) scale(0.8) rotate(45deg);
				transform: translate(-50%, -85%) scale(0.8) rotate(45deg);
	}
}
@keyframes toggleOnCheckbox {
	0% {
		opacity: 0;
		-webkit-transform: translate(-50%, -85%) scale(0) rotate(45deg);
				transform: translate(-50%, -85%) scale(0) rotate(45deg);
	}
	70% {
		opacity: 1;
		-webkit-transform: translate(-50%, -85%) scale(0.9) rotate(45deg);
				transform: translate(-50%, -85%) scale(0.9) rotate(45deg);
	}
	100% {
		-webkit-transform: translate(-50%, -85%) scale(0.8) rotate(45deg);
				transform: translate(-50%, -85%) scale(0.8) rotate(45deg);
	}
}
@-webkit-keyframes toggleOnRadio {
	0% {
		opacity: 0;
		-webkit-transform: translate(-50%, -85%) scale(0) rotate(45deg);
				transform: translate(-50%, -85%) scale(0) rotate(45deg);
	}
	70% {
		opacity: 1;
		-webkit-transform: translate(-50%, -85%) scale(0.9) rotate(45deg);
				transform: translate(-50%, -85%) scale(0.9) rotate(45deg);
	}
	100% {
		-webkit-transform: translate(-50%, -85%) scale(0.8) rotate(45deg);
				transform: translate(-50%, -85%) scale(0.8) rotate(45deg);
	}
}
@keyframes toggleOnRadio {
	0% {
		opacity: 0;
		-webkit-transform: translate(-50%, -85%) scale(0) rotate(45deg);
				transform: translate(-50%, -85%) scale(0) rotate(45deg);
	}
	70% {
		opacity: 1;
		-webkit-transform: translate(-50%, -85%) scale(0.9) rotate(45deg);
				transform: translate(-50%, -85%) scale(0.9) rotate(45deg);
	}
	100% {
		-webkit-transform: translate(-50%, -85%) scale(0.8) rotate(45deg);
				transform: translate(-50%, -85%) scale(0.8) rotate(45deg);
	}
}

.radio-wrap{ width: 100%; border: 1px solid var(--gray); border-radius: 5px; overflow: hidden;
	display: -webkit-box; display: -ms-flexbox; display: flex; 
	-webkit-box-align: center; -ms-flex-align: center; align-items: center;
	-ms-flex-wrap: wrap;flex-wrap: wrap;
}
.radio-wrap label{position: relative; width: calc(100% / 4); height: var(--medium);}
.radio-wrap label + label{border-top: 1px solid var(--gray); border-left: 1px solid var(--gray);}
.radio-wrap label:nth-child(1),
.radio-wrap label:nth-child(2),
.radio-wrap label:nth-child(3),
.radio-wrap label:nth-child(4){border-top: 0 none;}
.radio-wrap label:nth-child(1),
.radio-wrap label:nth-child(5),
.radio-wrap label:nth-child(9){border-left: 0 none;}

.radio-wrap label .radio{width: 100%;height: 100%; background-color: transparent; outline: none; 
	border: 0; border-radius: 0; appearance: none; -webkit-appearance: none;vertical-align: top;
	-webkit-transition: all 0.3s;-o-transition: all 0.3s;transition: all 0.3s;
}


.radio-wrap label .radio::before,
.radio-wrap label .radio::after{content: '';display: none;width: 0;height: 0;opacity: 0;}
.radio-wrap label .radio:checked{background-color: var(--red);color: var(--white);}
.radio-wrap label span{display: block;position: absolute;left: 0;top: 0;width: 100%; height: 100%; text-align: center;
	display: -webkit-box; display: -ms-flexbox; display: flex; 
	-webkit-box-align: center; -ms-flex-align: center; align-items: center; 
	-webkit-box-pack: center; -ms-flex-pack: center; justify-content: center;
}
.radio-wrap label .radio:checked + span{color: var(--white);}
.radio-wrap label .radio:disabled{background-color: var(--gray-40); }
.radio-wrap label .radio:disabled + span{color: var(--black-60);}

/* form status */
/* .select:focus,
.input-text:focus				{border-color: var(--red);} */

.select[readonly],
.input-text:disabled,
.input-text[disabled]
.textarea:disabled,
.textarea[disabled]				{color: var(--black-40);}

.select[readonly],
.input-text:read-only,
.input-text[readonly],
.textarea[readonly]				{color: var(--black);}

.radio:disabled:before,
.checkbox:disabled:before		{border-color: var(--gray);}
.checkbox:checked:disabled:after					{
	background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='20' height='20' rx='2' /%3E%3Cpath d='M5 9.294 8.75 13 15 6' stroke='%23fff' stroke-width='1.5'/%3E%3C/svg%3E");
}
.radio:disabled + .label,
.checkbox:disabled + .label		{color: var(--gray)}
.radio:checked:disabled:before	{}
.radio:checked:disabled:after	{background-color: var(--gray);}


/* accordion */

.js-accordion-content{display: none;}

/* form-wrap */
.form-wrap .form-section{}
.form-wrap .form-section + .form-section{padding-top: 120px;}
.form-wrap .form-section .title{font-size: var(--fs-28); font-weight: 600; line-height: 1; padding-bottom: 64px;}
.form-wrap .form-section :not(.btn1) :is(.input-text, .select){width: 100%;}
@media all and (max-width:820px) {
	.form-wrap .form-section + .form-section{padding-top: 80px;}
	.form-wrap .form-section .title{padding-bottom: 40px;}
}

/* .field */
.field, .field-wrap{width: 100%;}
.field-wrap{gap: 0 20px;}
.field + .field{padding-top: 28px;}
.field-wrap,
.field .label,
.field .label .notice,
.field .insert{
	display: -webkit-box; display: -ms-flexbox; display: flex; 
	-webkit-box-align: center; -ms-flex-align: center; align-items: center;
}

@media all and (max-width:820px) {
	.field-wrap{
		-webkit-box-orient: vertical;-webkit-box-direction: normal;
		-ms-flex-direction: column;flex-direction: column;
	}
	.field .label .notice{font-size: 14px;}
}
@media all and (max-width:360px){
	.field .label .notice{font-size: 13px;}
}


.field .label + .input-wrap{ gap: 0 24px;
	display: -webkit-box; display: -ms-flexbox; display: flex; 
	-webkit-box-align: center; -ms-flex-align: center; align-items: center;
}
.field .label + .input-wrap .insert{width: calc(100% / 2);}
.field .label + .input-wrap .insert .input-text,
.field .label + .input-wrap .insert .select{width: 100%;}

.field .label{ padding-bottom: 12px; vertical-align: top; line-height: 1;
	-webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between;
}
.field .label label{font-size: var(--fs-16); font-weight: 500;}
.field .label .notice{color: var(--black-60);}
.field .label .notice .ico{margin-right: 4px;}

.field .label.type2 label{color: var(--white);}
.field .label.type2 .notice{color: var(--white-60);}

.field .insert{position: relative; }

.field.error{}
.field.error .input-text{border-color: var(--red-2) !important;}
.field.error .error-text{display: block; padding-top: 6px;}

/* btn etc */
.field.btn1 .insert .input-text,
.field.btn1 .insert .select{width: calc(100% - 96px);}
.field.btn1 .insert .input-text + .btn,
.field.btn1 .insert .select + .btn{width: 96px; margin-left: 8px;}

/* btn password / search */
.field.btn2 .insert .input-text{width: 100%;}
.field.btn2 .insert .input-text{padding-right: var(--large);}
.field.btn2 .insert .input-text + .btn{position: absolute; top: 0; right: 0; width: 48px; height: 100%;}

/* password */
.field.password{}
.field.password .insert .input-text{width: 100%; padding-right: 48px;}
.field.password .insert .input-text + .btn[class*="pw"]{position: absolute; top: 0; right: 0; width: 48px; height: 100%;}
.field.password .btn[class*="pw"].hide .ico{background-image: url("../images/ico/pw_hide.svg");}

.field.password.certify .input-wrap{position: relative; width: calc(100% - 96px);}
.field.password.certify .input-wrap + .btn{width: 96px; margin-left: 8px;}

/* 생년월일 */
.field.birthday .insert.input-wrap{border: solid 1px var(--gray);border-radius: 5px;-webkit-border-radius: 5px;}
.field.birthday .insert > div{display: flex;justify-content: space-between;width: 33.333%;padding: 0 16px 0 0;}
.field.birthday .insert > div + div{border-left: 1px solid var(--gray);}
.field.birthday .insert > div .text{color: var(--grey-blue);}
.field.birthday .insert .select{background-position: 100% 50%; font-size: 16px;}

.field.birthday .insert .select{width: 71px; padding-left: 16px; border: none;}
.field.birthday .insert > div .text{line-height: calc(48px - 2px);font-size: 16px;}
.field.birthday .insert > div .input-text{padding: 0 0 0 16px;border: 0 none;}
@media all and (max-width: 820px){
	.field.birthday .insert.input-wrap {gap: 0;}
	.field.birthday .insert .select{padding-right: 16px; }
	.field.birthday .insert.input-wrap{flex-wrap: wrap;border: 0 none;}
	.field.birthday .insert > div.year{width: 100%; margin-bottom: 12px;border: solid 1px var(--gray);border-radius: 5px;-webkit-border-radius: 5px;}
	.field.birthday .insert > div.month,
	.field.birthday .insert > div.day{width: 50%; border: solid 1px var(--gray);}
	.field.birthday .insert > div.month{border-top-left-radius: 5px;border-bottom-left-radius: 5px;}
	.field.birthday .insert > div.day{border-left: 0 none;border-top-right-radius: 5px;border-bottom-right-radius: 5px;}
}
@media all  and (min-width:461px) and (max-width: 820px){
	.field.birthday .insert .select{width: calc(100% - 28px);}
}
@media all and (max-width:460px) {
	.field.birthday .insert .select{width: 73px;}
}

/* 휴대폰 번호 인증 */
.field.tel-wrap .insert.tel .input-wrap{ width: 100%;
	display: -webkit-box; display: -ms-flexbox; display: flex; 
	-webkit-box-align: center; -ms-flex-align: center; align-items: center;
}
.field.tel-wrap .insert .btn{width: 124px; margin-left: 8px;}
.field.tel-wrap .insert + .insert{margin-top: 12px;}
@media all and (min-width:821px) {
	.field.tel-wrap .insert:not(.tel) .input-text{width: calc(100% - 124px);}
	.field.tel-wrap .insert.tel .select{width: 114px; border-right: none; border-radius: 5px 0 0 5px;}
	.field.tel-wrap .insert.tel .select:focus{border-color: var(--gray);}
	.field.tel-wrap .insert.tel .input-text{width: calc(100% - (114px + 124px)); border-radius: 0px 5px 5px 0;}
}
@media all and (max-width:820px) {
	.field.tel-wrap .insert{position: relative;}
	.field.tel-wrap .insert .input-wrap{ width: 100%;
		-ms-flex-wrap: wrap;flex-wrap: wrap;
		-webkit-box-align: start;-ms-flex-align: start;align-items: flex-start;
	}
	.field.tel-wrap .insert.tel .select{width: 100%; margin-bottom: 12px;}
	.field.tel-wrap .insert .input-text{width: calc(100% - 132px);}
}

/* 수신동의, 상담방법, 결제방법 */
.field.chk-wrap .insert{border: 1px solid var(--gray); border-radius: 5px;
	-webkit-box-align: start;-ms-flex-align: start;align-items: flex-start;
	-webkit-box-orient: vertical;-webkit-box-direction: normal;
	-ms-flex-direction: column;flex-direction: column;
}
.field.chk-wrap li{width: 100%;}
.field.chk-wrap li + li{border-top: 1px solid var(--gray);}
.field.chk-wrap .input-wrap{position: relative;}
.field.chk-wrap .input-wrap .btn{position: absolute; top: 50%; right: 0; transform: translateY(-50%); z-index: 1; width: 52px; height: 100%;}

.field.chk-wrap .input-wrap.active .btn{transform: translateY(-50%) rotate(-180deg);}
.field.chk-wrap .js-accordion-content{overflow-y: auto; display: none; width: 100%; max-height: 260px; height: 100%; padding: 16px; border-top: 1px solid var(--gray); background-color: var(--white-3);}

.field.chk-wrap .check-wrap + .check-wrap{border-top: 1px solid var(--gray);}
.field.chk-wrap .check-wrap{width: 100%; padding: 17px 16px; line-height: 1;}
.field.chk-wrap .check-wrap span{margin-left: 8px;}
@media all and (max-width: 820px){
	.field.chk-wrap .js-accordion-content{max-height: 480px; font-size: 15px;}

	.field.chk-wrap .check-wrap{width: calc(100% - 52px);}
	.field.chk-wrap .check-wrap input{margin-right: 8px;}
	.field.chk-wrap .check-wrap span{ width: calc(100% - 26px); margin-left: 0px; line-height: 1.2;
		display: -webkit-box;display: -ms-flexbox;display: flex;
	}
	.field.chk-wrap .check-wrap span > strong{max-width: 45px; width: 100%;}
	
}

/* 방문경로 */
.field.url .insert + .insert{margin-top: 12px; display: none;}
.field.url .insert.etc.active{display: block;}

/* 주소 */
.field.address{}
.field.address .insert.addr .input-text{width: calc(100% - 124px);}
.field.address .insert.addr .input-text + .btn{width: 124px; margin-left: 8px;}
.field.address .insert + .insert{padding-top: 12px;}


