/* ========================================
= [COLOR STYLE] 컬러 스타일
= Description: Project Color Style Common
======================================== */

:root{

	/* [Color - White] 색상 - White */	
	--white: #FFFFFF;
    --white-op-10: rgba(255,255,255,0.1);
    --white-op-20: rgba(255,255,255,0.2);
    --white-op-30: rgba(255,255,255,0.3);
    --white-op-40: rgba(255,255,255,0.4);
    --white-op-50: rgba(255,255,255,0.5);
    --white-op-60: rgba(255,255,255,0.6);
    --white-op-70: rgba(255,255,255,0.7);
    --white-op-80: rgba(255,255,255,0.8);


	/* [Color - Black] 색상 - Black */	
    --black: #000000;
    --black-op-10: rgba(0,0,0,0.1);
    --black-op-20: rgba(0,0,0,0.2);
    --black-op-30: rgba(0,0,0,0.3);
    --black-op-40: rgba(0,0,0,0.4);
    --black-op-50: rgba(0,0,0,0.5);
    --black-op-60: rgba(0,0,0,0.6);
    --black-op-70: rgba(0,0,0,0.7);
    --black-op-80: rgba(0,0,0,0.8);


	/* [Color - Project Color] 색상 - Project Color */
	--point-green: #4CB848;

	--gray-blue: 	#40535D;
	--gray-blue2: 	#6E7D8C;

	--gray-dark: 	#1B2022;
	--gray-light: 	#DCDDDE;
	--gray-light2: 	#F6F6F6;
	--gray-light3: 	#DCDDDF;

	--n-900:	#0C0C0C;
	--n-800:	#2D2D2D;
	--n-700:	#4B4B4B;
	--n-600:	#5D5D5D;
	--n-500:	#848484;
	--n-400:	#A5A5A5;
	--n-300:	#CBCBCB;
	--n-200:	#DEDEDE;
	--n-100:	#ECECEC;
	--n-75:		#F2F2F2;
	--n-50:		#F4F4F4;
	 
	--action-basic: #2952CC;
	--action-dark:	#14377D;

	--success-basic:#52BD94;
	--success-dark:	#317159;

	--danger: 	#D14343;
	--danger2: 	#D51C29;
	--warning:	#FFB020;
}
/* // () => [COLOR STYLE END] 컬러 스타일 종료 */