/* [Colors] (Project Colors Style) */
/* Description: 프로젝트 컬러 스타일 */

:root{

	/* <White> - 흰색 계열 */
	--white:		#FFFFFF;
    --white-op-10: 	color-mix(in srgb, var(--white) 10%, transparent);
    --white-op-20: 	color-mix(in srgb, var(--white) 20%, transparent);
    --white-op-30: 	color-mix(in srgb, var(--white) 30%, transparent);
    --white-op-40: 	color-mix(in srgb, var(--white) 40%, transparent);
    --white-op-50: 	color-mix(in srgb, var(--white) 50%, transparent);
    --white-op-60: 	color-mix(in srgb, var(--white) 60%, transparent);
    --white-op-70: 	color-mix(in srgb, var(--white) 70%, transparent);
    --white-op-80: 	color-mix(in srgb, var(--white) 80%, transparent);

	/* <Black> - 검정색 계열 */
    --black: 		#000000;
    --black-op-10: 	color-mix(in srgb, var(--black) 10%, transparent);
    --black-op-20: 	color-mix(in srgb, var(--black) 20%, transparent);
    --black-op-30: 	color-mix(in srgb, var(--black) 30%, transparent);
    --black-op-40: 	color-mix(in srgb, var(--black) 40%, transparent);
    --black-op-50: 	color-mix(in srgb, var(--black) 50%, transparent);
    --black-op-60: 	color-mix(in srgb, var(--black) 60%, transparent);
    --black-op-70: 	color-mix(in srgb, var(--black) 70%, transparent);
    --black-op-80: 	color-mix(in srgb, var(--black) 80%, transparent);

	/* <Neutral> - 그레이 계열 */
	--n-50:  #F4F4F4;
	--n-75:  #F2F2F2;
	--n-100: #ECECEC;
	--n-200: #DEDEDE;
	--n-300: #CBCBCB;
	--n-400: #A5A5A5;
	--n-500: #848484;
	--n-600: #5D5D5D;
	--n-700: #4B4B4B;
	--n-800: #2D2D2D;
	--n-900: #0C0C0C;


	/* <Project Color> - 프로젝트 사용 색상 */
	--orange:			#FF671D;
	--orange-op-80:		color-mix(in srgb, var(--orange) 80%, transparent);

	--zinc-100: 		#EFEFEF;

	--ntr-700: 			#353535;
	--ntr-700-20: 		color-mix(in srgb, var(--ntr-700) 20%, transparent);
	--ntr-700-40: 		color-mix(in srgb, var(--ntr-700) 40%, transparent);
	--ntr-700-60: 		color-mix(in srgb, var(--ntr-700) 60%, transparent);
	--ntr-700-80: 		color-mix(in srgb, var(--ntr-700) 80%, transparent);

	--ntr-950: 			#0C0C0C;

	--gradient-01:		linear-gradient(340deg,rgba(250, 245, 30, 1) 0%, rgba(239, 73, 28, 1) 20%, rgba(255, 103, 29, 1) 100%);

}
/* // [Colors] 프로젝트 컬러 스타일 종료 */