@charset "utf-8";

/****** @import ******/
@import url("../css/lib/reset.css");

@import url("../css/_vars.css");
@import url("../css/_form.css");
@import url("../css/_table.css");
@import url("../css/_button.css");
@import url("../css/_layout.css");
@import url("../css/_global.css");

::-webkit-scrollbar {
	display: none;
}

/****** Common ******/
#app, #wrap,
#container, #content{}

#content{position: relative; z-index: 2; min-height: var(--vh100); 
	padding: clamp(100px,13.672vw,140px) var(--gutter) calc(var(--footer) + var(--gutter));
	transition: all 0.2s ease-out;
}
#content .gutter{padding: 20px;}
#content .content-header + .content-body{padding-top: clamp(30px,5.859vw,60px);}

/****** Main ******/
.main .gutter{ width: 100%; height: calc(var(--vh100) - 
	(var(--footer) + var(--gutter) + clamp(100px,13.672vw,140px) ) );}
.main .section.visual{position: relative; gap: clamp(50px,8.065vw,100px); width: 100%; height: 100%;
	display: -webkit-box;display: -ms-flexbox;display: flex;
	-webkit-box-pack: justify;-ms-flex-pack: justify;justify-content: space-between;
	-webkit-box-orient: vertical;-webkit-box-direction: normal;
	-ms-flex-direction: column;flex-direction: column;
}

.main .section.visual .img-wrap{overflow: hidden; position: absolute; bottom: 0; z-index: -1; 
	max-width: clamp(275px,71.615vw,550px); width: 100%; 
}
.main .section.visual .img-wrap img{width: 100%; height: 100%; object-fit: cover; filter: grayscale(100%); }

.main .section.visual .grid-box{ font-family: "Teko", serif; font-size: 18px; 
	display: -ms-grid;display: grid; gap: 0px 10px;
	-webkit-box-align: center; -ms-flex-align: center; align-items: center;
	grid-template-rows: auto; grid-auto-flow:column; grid-auto-columns: 1fr;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.main .section.visual .grid-box .text{position: relative; height: 60px; font-weight: 300;}
.main .section.visual .grid-box > span{position: relative; top: 2px; padding-left: 20px; color: var(--white);
}
.main .section.visual .grid-box > span span{margin-right: 6px; color: var(--yellow);}
.main .section.visual .grid-box .line{position: absolute; bottom: 0; width: 100%; height: 1px; background-color: var(--white-06);}
@media all and (min-width: 821px){
	.main .section.visual .img-wrap{left: 25%; height: calc(var(--vh100) - 35vh);}
}
@media all and (max-width: 820px){
	.main .section.visual .img-wrap{right: 0; height: calc(var(--vh100) - 40vh);}
}
@media all and (min-width: 641px){
	.main .section.visual .text-1{grid-area: 1/1/2/13;}
	.main .section.visual .text-1 > span{grid-area: 1/8/2/12;}
	.main .section.visual .text-1 .line{grid-area: 2/2/3/12;}
	
	.main .section.visual .text-2{grid-area: 2/1/3/13;}
	.main .section.visual .text-2 > span{grid-area: 1/1/2/5;}
	.main .section.visual .text-2 .line{grid-area: 2/1/3/6;}

	.main .section.visual .text-3{grid-area: 2/10/3/13; }
	.main .section.visual .text-3 > span{grid-area: 1/1/2/13;}

	.main .section.visual .text-4{grid-area: 4/1/5/13;}
	.main .section.visual .text-4 .line{grid-area: 1/8/2/13;}

	.main .section.visual .text-5{grid-area: 5/1/6/13;}
	.main .section.visual .text-5 > span{grid-area: 1/8/2/13;}
}
@media all and (max-width: 640px){
	.main .section.visual .grid-box .text{height: 40px;}
	.main .section.visual .text-1{grid-area: 1/1/2/13;}
	.main .section.visual .text-2{grid-area: 2/1/3/13;}
	.main .section.visual .text-3{grid-area: 3/1/4/13;}
	.main .section.visual .text-3 span{text-align: right;}
	.main .section.visual .text-4,
	.main .section.visual .text-5{display: none;}
	.main .section.visual .text > span{grid-area: 1/1/2/12;}
}

/****** Sub ******/
.sub{}

/* sub about */
.page-about .sub.about{background-color: var(--yellow);}
.page-about .sub.about .section.horizontal .section-title{ visibility: visible;}

#content.sub.about{overflow: hidden; padding-bottom: 0;}
#content.sub.about .gutter{position: relative; z-index: 3; }
#content.sub.about .content-header + .content-body{ padding-top: 0; }

.sub.about .section:not(.main){position: relative; gap: clamp(20px,3.226vw,40px); height: calc(100vh - 20px);
	display: -webkit-box;display: -ms-flexbox;display: flex;
	-webkit-box-align: baseline;-ms-flex-align: baseline;align-items: baseline;
}
.sub.about .section.main{gap: clamp(30px,9.375vw,180px); 
	width: 100%; height: calc(var(--vh100) / 2.5); padding-top: clamp(30px,5.859vw,60px);
	display: -webkit-box;display: -ms-flexbox;display: flex;
	-webkit-box-align: start;-ms-flex-align: start;align-items: flex-start;
	-webkit-box-pack: center;-ms-flex-pack: center;justify-content: center;
}
.sub.about .section.main .text-area .title{ line-height: 0.8;
	font-size: clamp(50px,9.677vw,120px);  font-family: "Bebas Neue", sans-serif; 
	color: var(--white-06); letter-spacing: -0.2rem;
}
.sub.about .section.main .text-area .title + .text-wrap{padding-top: 15px;}
.sub.about .section.main .text-area .text + .text{padding-top: 24px;}
.sub.about .section.main .text-wrap{position: relative; padding-left: 30px;}
.sub.about .section.main .text-wrap::after{font-family: "Bebas Neue", sans-serif; 
	position: absolute; top: 16px; left: 5px; color: var(--yellow);
}
.sub.about .section.main .text-area:first-child .text-wrap::after{content: "01 - ";}
.sub.about .section.main .text-area:last-child .text-wrap::after{content: "02 - ";}

/* .sub.about .article.horizontal{background-color: var(--yellow);} */
.sub.about .section.horizontal .horizon-area{ position: relative; 
	width: 100%; height: calc(var(--vh100) - (var(--footer) + var(--gutter) + 20px));
	display: -webkit-box;display: -ms-flexbox;display: flex;
	-webkit-box-align: start;-ms-flex-align: start;align-items: flex-start;
}
.sub.about .section.horizontal .sticky-wrap{position: sticky; top: 0; margin-top: clamp(300px,28.226vw,350px);
	width: 100%; height: calc(var(--vh100) - (var(--footer) + var(--gutter) + 20px + clamp(300px,28.226vw,350px))); 
	display: -webkit-box;display: -ms-flexbox;display: flex;
}
.sub.about .section.horizontal .box-area{ height: 100%;
	display: -webkit-box;display: -ms-flexbox;display: flex;
}
.sub.about .section.horizontal .box-wrap{height: 100%; padding-left: 60%;
	display: -webkit-box;display: -ms-flexbox;display: flex;
	-webkit-box-orient: horizontal;-webkit-box-direction: normal;
	-ms-flex-direction: row;flex-direction: row;
	-webkit-box-flex: 0;-ms-flex: none;flex: none;
}
.sub.about .section.horizontal .title-box{width: 60%; height: 100%; margin-left: 7vw; margin-right: 10vw;
	-webkit-box-flex: 0;-ms-flex: none;flex: none;
	display: -webkit-box;display: -ms-flexbox;display: flex;
}
.sub.about .section.horizontal .title-box:first-child{padding-top: 100px;}
.sub.about .section.horizontal .title-box:nth-child(2){
	-webkit-box-align: end;-ms-flex-align: end;align-items: flex-end;
}
.sub.about .section.horizontal .title-box:last-child{margin-right: 0;
	-webkit-box-align: center;-ms-flex-align: center;align-items: center;
}
.sub.about .section.horizontal .section-title{visibility: hidden; 
	font-size: clamp(55px,9.766vw,100px); letter-spacing: clamp(-0.2rem,-0.417vw,-0.05rem); 
}
.sub.about .section.horizontal .section-title span{overflow: hidden; position: relative; top: 2px;
	display: block; color: var(--black); line-height: 1;
}
.sub.about .section.horizontal .section-title span::after{content: ""; position: absolute; bottom: 0; left: 0;
	width: 100%; height: 100%; background-color: var(--yellow);
	transition: transform 0.4s ease-out; transform: scaleX(1); transform-origin: bottom left;
}
.sub.about .section.horizontal .title-box.active .section-title span::after{transform: scaleX(0); transform-origin: bottom right;}

.sub.about .section.horizontal .swiper.horizon{visibility: visible; opacity: 0; z-index: -1; position: absolute; bottom: 0; right: 0;
	width: 400px; padding: 20px; background-color: var(--black-2); border-radius: 10px;
	transition: all 0.4s ease-out;
}
.sub.about .section.horizontal .swiper.horizon.active{visibility: visible; opacity: 1; z-index: 3;}
.sub.about .section.horizontal .swiper.horizon .info-box{ gap: 8px;
	display: -webkit-box;display: -ms-flexbox;display: flex;
	-webkit-box-orient: vertical;-webkit-box-direction: normal;
	-ms-flex-direction: column;flex-direction: column;
}
.sub.about .section.horizontal .swiper.horizon .info-box > span{display: block; color: var(--white-06);}
.sub.about .section.horizontal .swiper-slide{opacity: 0 !important;}
.sub.about .section.horizontal .swiper-slide-active{opacity: 1 !important;}
@media all and (max-width: 768px) {
	.sub.about .section.main{ padding-bottom: 40px; height: auto;
		-webkit-box-pack: end;-ms-flex-pack: end;justify-content: flex-end;
		-webkit-box-orient: vertical;-webkit-box-direction: normal;
		-ms-flex-direction: column;flex-direction: column;
	}
	.sub.about .section.main .text-area .title{letter-spacing: -0.0725rem;}
	.sub.about .section.main .text-area .text{font-size: 12px;}
	.sub.about .section.main .text-area .text + .text{padding-top: 15px;}
	.sub.about .section.main .text-wrap::after{top: 15px;}	
}
@media all and (max-width: 640px){
	.sub.about .section.horizontal .sticky-wrap{margin-top: 150px;}
	.sub.about .section.horizontal .swiper.horizon{width: 280px;}
	.sub.about .section.horizontal .swiper.horizon .info-box > span{font-size: 11px;}
}
@media all and (max-height: 820px) and (orientation: landscape) {  /* 가로모드 */
	.sub.about .section.main{height: calc(var(--vh100) / 1.7);}
	.sub.about .section.horizontal .sticky-wrap{margin-top: 150px; }
}



/* sub project */
.sub.project{}
.sub.project .content-body{ position: relative; gap: clamp(20px,3.226vw,40px);
	display: -webkit-box;display: -ms-flexbox;display: flex;
	-webkit-box-align: start;-ms-flex-align: start;align-items: flex-start;
}
.sub.project .sticky-wrap{ position: sticky; top: clamp(140px,21.774vw,270px);}
.sub.project .sticky-wrap .img-wrap{  padding-bottom: 56.25%;
	width: clamp(280px,38.71vw,480px); height: clamp(160px,19.355vw,240px);
}
.sub.project .sticky-wrap .img-wrap img{position: absolute; top: 0; left: 0; 
	width: 100%; height: 100%; object-fit: cover; vertical-align: top;
}
.sub.project .data-wrap{-webkit-box-flex: 1;-ms-flex: 1;flex: 1; }
.sub.project .item.project :is([class*="pro-"]){
	color: var(--white-06); transition: all 0.2s ease-out;
}
.sub.project .tag-wrap{padding-bottom: 12px;}
.sub.project .pro-title{margin-bottom: 24px; font-size: clamp(22px,2.93vw,30px);
	word-break: keep-all; letter-spacing: -0.025rem;
}

.sub.project :is(.pro-box, .pro-link){
	display: -webkit-box;display: -ms-flexbox;display: flex;
}
.sub.project .pro-box{width: 100%;
	-webkit-box-align: center;-ms-flex-align: center;align-items: center;
	-webkit-box-pack: justify;-ms-flex-pack: justify;justify-content: space-between;
}
.sub.project .pro-comp{ gap: 8px;
	display: -webkit-box;display: -ms-flexbox;display: flex;
}
.sub.project .pro-link{gap: 8px;}
.sub.project .pro-link .ico{transition: all 0.2s ease-out; transform: rotate(45deg);}
.sub.project .data-list li:hover :is(.pro-title, .pro-link){color: var(--yellow);}
.sub.project .data-list li:hover .pro-link .ico{ transform: rotate(0deg);
	background-image: url("../images/ico/ico_arrow2_active.svg");
}
.sub.project .data-list li:hover .tag{border-color: var(--yellow); color: var(--yellow);}
@media all and (max-width: 768px) {
	.sub.project .pro-comp-title{display: none;}
}
@media all and (max-width: 635px) {
	.sub.project .sticky-wrap{display: none;}	
}


/* sub contact */
.sub.contact{position: relative;}
.sub.contact .content-header + .content-body{padding-bottom: 170px;}
.sub.contact .content-body{}
.sub.contact .content-body  ul{ gap: 15px;
	display: -webkit-box;display: -ms-flexbox;display: flex;
}
.sub.contact .item.method{ display: -webkit-inline-box;display: -ms-inline-flexbox;display: inline-flex; }
.sub.contact .item.method span{transition: all 0.2s ease-out;}
.sub.contact .item.method:hover{border-color: var(--yellow); }
.sub.contact .item.method:hover p{color: var(--yellow);}

.sub.contact .info-area{position: absolute; right: calc(var(--gutter) + 20px);
	bottom: calc(var(--footer) + 20px); width: calc(100% - (var(--gutter) * 2 + 40px));
	font-family: "Teko", serif; text-align: right;
}
.sub.contact .info-area div{
	display: -webkit-box;display: -ms-flexbox;display: flex;
	-webkit-box-align: end;-ms-flex-align: end;align-items: flex-end;
	-webkit-box-orient: vertical;-webkit-box-direction: normal;
	-ms-flex-direction: column;flex-direction: column;
}
.sub.contact .info-area div span{display: block; width: 280px; padding: 15px 0;	
	font-size: 18px; color: var(--white-06);
	transition: all 0.2s ease-out;
}
.sub.contact .info-area div span:nth-child(odd){text-align: left;}
.sub.contact .info-area div span + span{border-top: 1px solid var(--white-06);}
.sub.contact .info-area div span:hover{color: var(--white);}
.sub.contact .info-area ul{ font-size: 18px; 
	display: -webkit-inline-box;display: -ms-inline-flexbox;display: inline-flex;
	-webkit-box-pack: end;-ms-flex-pack: end;justify-content: flex-end;
	border-top: 1px solid var(--white-06);
}
.sub.contact .info-area ul a{ gap: 5px; padding: 15px 15px;
	display: -webkit-box;display: -ms-flexbox;display: flex;
	-webkit-box-align: center;-ms-flex-align: center;align-items: center;
	transition: padding 0.2s ease-out;
}
.sub.contact .info-area ul :is(.ico, span){transition: all 0.2s ease-out;}
.sub.contact .info-area ul .ico.arrow-1{ transform: rotate(90deg);}
.sub.contact .info-area ul span{position: relative; top: 2px; color: var(--white-06);}
.sub.contact .info-area ul li:hover span{color: var(--yellow);}
.sub.contact .info-area ul li:hover .ico.ico.arrow-1{background-image: url("../images/ico/ico_arrow1_active.svg");}

@media all and (max-height: 820px) and (orientation: landscape) {  /* 가로모드 */
	.sub.contact .content-header + .content-body{padding-bottom: 180px;}
	.sub.contact .info-area div span{padding: 8px 0;}
	.sub.contact .info-area ul a{ padding: 8px 15px;}
}
@media all and (max-width:1024px) {
	.sub.contact .content-body .data-list{ 
		-webkit-box-orient: vertical;-webkit-box-direction: normal;
		-ms-flex-direction: column;flex-direction: column;
	}
	.sub.contact .item.method{padding-bottom: 10px;}
}
@media all and (max-width: 768px) {
	.sub.contact .info-area div span{width: 180px;}
	.sub.contact .info-area ul a{padding: 8px 0;}
}
@media all and (max-width: 480px) {
	.sub.contact .info-area div span{width: 100%;}
	.sub.contact .info-area ul{width: 100%;}
	.sub.contact .info-area ul li{flex: 1;}
}

/* sub error */
.sub.error-404{}
.sub.error-404 .marquee-wrap{overflow: hidden; width: calc(100% - (var(--gutter) * 2 + 40px));
	position: absolute; bottom: calc(var(--footer) + var(--gutter) + 20px);
	display: -webkit-box;display: -ms-flexbox;display: flex;
	grid-column-gap: 1rem; white-space: nowrap; 
}
.sub.error-404 .marquee-wrap .marquee-content{
	display: -webkit-box;display: -ms-flexbox;display: flex;
	-ms-flex-pack: distribute;justify-content: space-around;
	animation: scroll 10s linear infinite;
}
.sub.error-404 .marquee-wrap .page-text{position: relative; top: 2px;
	font-size: clamp(250px,32.258vw,400px); line-height: 0.85
}
.sub.error-404 .btn{margin-top: 20px; padding: 6px 18px; font-size: clamp(20px,5.208vw,40px); }

@keyframes scroll {
	0%{
		transform: translateX(0);
	}
	100%{
		transform: translateX(calc(-100% - 1rem));
	}
}
