@charset "utf-8";

/****** Table ******/
table{ overflow: hidden; position: relative;
	width: 100%; background-color: transparent;
	border-collapse: collapse; border-spacing: 0;
}
table :is(th, td){padding: 10px 15px;}
table th{font-weight: 700;}
table td{}

/* table-wrap */
.table-wrap{position: relative; overflow: hidden; width: 100%; 
	border: 1px solid var(--gray-1); border-radius: 8px; 
}

/* scroll bar */
.table-wrap::-webkit-scrollbar { width: 5px;}
.table-wrap::-webkit-scrollbar-thumb { background-color: #C2C4C4; border-radius: 100px; }
.table-wrap::-webkit-scrollbar-track { background-color: #FFFFFF; }


/* normal */
.table-wrap{}
.table-wrap .table{}


/* fixed */
.table-wrap.fixed{overflow: auto; height: 500px;}
.table-wrap.fixed table{overflow: auto;}

.table-wrap.fixed thead{}
.table-wrap.fixed thead th{position: sticky; top:0;}

.table-wrap.fixed tbody{}
.table-wrap.fixed tbody td{}


/* data */
.table-wrap.data{}
.table-wrap.data thead{background-color: var(--white-2);}
.table-wrap.data thead th{}

.table-wrap.data tbody{}
.table-wrap.data tbody tr + tr{border-top: 1px solid var(--gray-1);}
.table-wrap.data tbody tr:nth-child(2n){background-color: var(--white-2);}
.table-wrap.data tbody td{}

