@charset "utf-8";


.ui-widget input, 
.ui-widget select, 
.ui-widget textarea, 
.ui-widget button {font-family: 'SUIT', sans-serif;font-weight: 400;}
.ui-widget-header {background-color: transparent; color: #000; font-weight: 500; border: 0;}
.ui-datepicker .ui-datepicker-prev, 
.ui-datepicker .ui-datepicker-next {width: 24px; height: 24px;}
.ui-widget-header .ui-icon{width: 24px;height: 24px;background-image: url('../images/ico/arrow_date.svg'); background-position: 0 0; background-size: cover;}
.ui-widget-header .ui-datepicker-prev .ui-icon {transform: rotate(180deg);}
.ui-datepicker select.ui-datepicker-month,
.ui-datepicker select.ui-datepicker-year{width: auto;  font-weight: 500;}
/*.ui-datepicker select.ui-datepicker-year::after{content: '.';display: inline-block;font-size: 18px;font-weight: 600;}*/
.ui-datepicker select.ui-datepicker-month {/*margin-left: 5px;*/}


.ui-datepicker table{margin-bottom: 16px;}
.ui-datepicker .ui-datepicker-header{margin: 20px 0 9px;padding: 0;}
.ui-datepicker .ui-datepicker-prev{margin-left: 20px;}
.ui-datepicker .ui-datepicker-next{margin-right: 20px;}
.ui-datepicker .ui-datepicker-prev span, 
.ui-datepicker .ui-datepicker-next span{top: 0;left: 0;margin: 0;}

.ui-widget.ui-widget-content{width: 375px;padding: 0;border-radius: 10px; box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.1); border: solid 1px var(--silver); background-color: var(--white);}

.ui-datepicker .ui-datepicker-prev {top: 0 !important; left: 0 !important;}
.ui-datepicker .ui-datepicker-next {top: 0 !important; right: 0 !important;}
.ui-datepicker .ui-datepicker-title select {background-color: transparent;}

.ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus,
.ui-button:focus {border: 0; background-color: transparent; color: #000;}


.ui-datepicker th{font-size: 13px;color: var(--grey-blue-80);font-weight: 400;font-family: 'SUIT', sans-serif;}
.ui-datepicker td {padding: 10px 8px;text-align: center;}

.ui-datepicker td span, 
.ui-datepicker td a{/*margin: 8px;*/margin: 0;padding: 0;font-size: 15px;color: var(--black);font-weight: 500;}

.ui-state-default, 
.ui-widget-content .ui-state-default{width: 32px;height: 32px;line-height: 32px;border: 0 none;background-color: transparent;text-align: center;}

.ui-state-highlight, 
.ui-widget-content .ui-state-highlight, 
.ui-widget-header .ui-state-highlight{color: var(--blue);}

.ui-datepicker td.ui-datepicker-current-day .ui-state-active{background-color: var(--blue);color: var(--white);border-radius: 50%;-webkit-border-radius: 50%;}

.ui-datepicker .ui-datepicker-title{font-size: 0;}
.ui-datepicker select.ui-datepicker-month, 
.ui-datepicker select.ui-datepicker-year{font-size: 18px;font-weight: 600;font-family: 'SUIT', sans-serif;color: var(--black-80);}
.ui-datepicker .ui-datepicker-title select{font-size: 18px;font-weight: 600;}


