@charset "UTF-8";
/* hanbom.com _ Project _ HunHoon _ 20250610 */

/* ========================================
[Layout Common Class] 레이아웃 공통 스타일
======================================== */

html, body { height: 100%;
    color: var(--gray-99); background-color: var(--white);
	font-size: 16px; font-weight: 500; line-height: 1.6;
	scroll-behavior: auto;
}
html, body, input, select, textarea, button{
	font-family: 'SUIT Variable', 'Montserrat Variable', sans-serif;
}

body{
	overflow: hidden; visibility: hidden;
	opacity: 0; transition: opacity 0.8s ease, visibility 0.8s ease;
}
body.loaded{opacity: 1; visibility: visible; }

@media all and (max-width: 768px){
	html	{min-width: 360px;}
}
body.opened-nav ,
body.modal-opened{overflow: hidden;}

/***** [Scrollbar Custom] 스크롤바 커스텀 *****/
::-webkit-scrollbar-track	{-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0); background-color: var(--black);}
::-webkit-scrollbar			{width: 1px; height: 3px; background-color: transparent;}
::-webkit-scrollbar-thumb	{background-color: #616161;}

/***** [Skip Nav] *****/
.skip-nav	{ position: relative; z-index: -2; }
.skip-nav a	{
	position: absolute; top: -100vw; left: 0; 
	width: 50%; height: 2rem; text-align: center;
	background: transparent; color:var(--black); 
}
.skip-nav a:is(:active, :focus){
	top: 0; z-index: 1000;
	text-decoration:none; 
}

/***** [Page Common] 페이지 공통 *****/
#wrap{ padding: 0; }

/***** [RWD transition] 반응형 트랜지션 *****/
#header, #footer,
#content{transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);}

#content{}
/* // [Layout Common Class End] 레아이웃 공통 스타일 종료  */


/* ========================================
[Header Component] 헤더 스타일
======================================== */

#header{
	position: fixed; top: calc(-1 * var(--header)); left: 0; right: 0; z-index: 12;
	width: 100%; height: var(--header);
	background-color: var(--white);
	/* transition: top 0.3 ease; */
}

#header::after{
	content: ""; position: fixed; width: 100%; height: 100%;
	background-color: var(--black-op-40); opacity: 0; visibility: hidden;
	transition: opacity 0.3s ease, visibility 0.3s ease; z-index: -1;
}

#header .inner{ position: relative;
	width: 100%; height: 100%;
	display: flex; align-items: center;
	padding-inline: var(--gutter);
}
#header .header-left, 
#header .header-right{
	position: absolute; height: 100%;
	display: flex; align-items: center;
}

/*** [Header Left] 헤더 좌측 ***/
#header .header-left{z-index: 1;}

/*** [Header Right] 헤더 우측 ***/
#header .header-right{position: absolute; right: var(--gutter);}
#header .header-right .util-wrap{position: relative; gap: 0 20px;}
#header .header-right .util-wrap .btn{
	font-size: 14px; color: var(--gray-99); 
	gap:4px;
}

#header .header-right .btn.lang{}
#header .header-right .btn.lang.active .lang-box{opacity: 1; visibility: visible;}

#header .header-right .lang-box{
	position: absolute; top: 0px; padding-top: 30px;
	width: 65px; opacity: 0; visibility: hidden;
	transition: opacity 0.3s, visibility 0.3s;
}
#header .header-right .lang-box ul{
	display: flex; flex-direction: column;
	align-items: center; justify-content: center;
	width: 100%; padding: 16px 15px;
	gap: 12px; width: 65px;
	border-radius: 8px; background-color: var(--black-op-60);
}
#header .header-right .lang-box li{line-height: 1;}
#header .header-right .lang-box a{font-size: 14px; color: var(--gray-04);}
#header .header-right .lang-box li.active a{color: var(--white);}

#header.nav-open::after{
	 opacity: 1; visibility: visible;
}

.scroll-down #header:not(.nav-open){top: calc(-1 * var(--header)) !important;}
@media (any-hover: hover) and (any-pointer: fine) { /* 호버 이벤트 */
	#header .header-right .btn.shop:hover .ico{
		animation: shake 1.2s ease-in-out;
	}
	@keyframes shake {
		0%   { transform: rotate(0deg); }
		20%  { transform: rotate(-5deg); }
		40%  { transform: rotate(4deg); }
		60%  { transform: rotate(-3deg); }
		80%  { transform: rotate(2deg); }
		100% { transform: rotate(0deg); }
	}


	#header .header-right .btn.lang:hover .ico{
		transform-style: preserve-3d;
  		animation: spin3dY 1.2s ease-in-out;
	}
	@keyframes spin3dY {
		0%   { transform: rotateY(0deg); }
  		100% { transform: rotateY(180deg); }
	}

	#header .header-right .btn.lang:hover .lang-box{opacity: 1; visibility: visible;}
	#header .header-right .lang-box li:hover a{color: var(--white);}
}
@media all and (min-width: 1024px) {

	body:not(.is-tablet) #header .header-right .btn.menu{ display: none; }

	body.is-tablet #header .inner{ padding-inline: 40px; }

	body.is-tablet #header .header-right{ right: 40px; }
	body.is-tablet #header .header-right .util-wrap .btn:not(.menu),
	body.is-tablet #header .header-right .lang-box{ display: none; }

	body.is-tablet.opened-nav #header .header-right .btn.menu .ico{
		background-image: url("../../images/@common/close.svg");
	}
}
@media all and (max-width: 1023px) {

	#header .header-right{}
	#header .header-right .util-wrap .btn:not(.menu),
	#header .header-right .lang-box{ display: none; }

	.opened-nav #header .header-right .btn.menu .ico{
		background-image: url("../../images/@common/close.svg");
	}
}
/* // [Header Component End] 헤더 스타일 종료 */


/* ========================================
[Nav Component] 네비게이션 스타일
======================================== */
#nav,
#nav > ul,
#nav > ul > li,
#nav .depth-1{height: 100%;}

#nav{position: relative; width: 100%;}
#nav a{ display: flex; }

#nav > ul{
	display: flex; align-items: center;
	gap: 0 60px
}
#nav > ul > li{}

#nav > ul > li:hover .depth-1{}
#nav > ul > li.current .depth-1{}
#nav .depth-1{ color: var(--gray-99);}


#nav .depth-2{}
#nav .depth-2 li{}
#nav .depth-2 a{font-weight: 400; color: var(--gray-06);}

#nav li.current a{}

/*** [Nav Mobile Util] 모바일 유틸 버튼 ***/
#nav .util-wrap,
#nav .util-wrap .btn.shop,
#nav .util-wrap .lang-box{width: 100%;}

#nav .util-wrap .btn.shop,
#nav .util-wrap .lang-box{height: 60px;}

#nav .util-wrap .btn.shop{ gap: 8px;
	border-top: 1px solid var(--gray-02); 
	border-bottom: 1px solid var(--gray-02);
	color: var(--gray-08);
}

#nav .util-wrap .lang-box,
#nav .util-wrap .lang-box > span,
#nav .util-wrap .lang-box ul{display: flex; align-items: center;}
#nav .util-wrap .lang-box > span,
#nav .util-wrap .lang-box :is(ul, li, a){ height: 100%; }

#nav .util-wrap .lang-box{background-color: var(--white);}
#nav .util-wrap .lang-box > span{
	width: calc(100% - clamp(160px,42.67vw,320px));
	padding-inline: 40px; color: var(--gray-08);
}
#nav .util-wrap .lang-box ul{width: clamp(160px,42.67vw,320px); }
#nav .util-wrap .lang-box li{width: 50%;}
#nav .util-wrap .lang-box li a{
	display: flex; align-items: center; justify-content: center;
	background-color: var(--gray-01); color: var(--gray-04);
}
#nav .util-wrap .lang-box li.active a{background-color: var(--gray-99); color: var(--white);}
@media all and (min-width: 1361px){
	#nav{padding-inline: 320px;}
}
@media all and (min-width: 1024px) and (max-width: 1360px) {
	body:not(.is-tablet) #nav{padding-inline: 210px;}
}
@media all and (min-width: 1024px) {
	
	body:not(.is-tablet) #nav .nav-bg{
		position: absolute; top: var(--header); left: calc(-1 * var(--gutter));
		width: calc(100% + (var(--gutter) * 2)); height: 0px;
		background-color: var(--white); transition: height 0.4s 0.1s;
	}
	body:not(.is-tablet) #nav .depth-1{
		display: flex; align-items: center;
		justify-content: center;
		font-size: 15px;
	}
	body:not(.is-tablet) #nav .depth-2{
		position: absolute; top: var(--header); z-index: 1;
		opacity: 0; visibility: hidden;
		transition: opacity 0.2s 0s, visibility 0.2s 0s;
	}
	body:not(.is-tablet) #nav .depth-2 a{line-height: 2.4;}
	body:not(.is-tablet) #nav .util-wrap{display: none;}

	body:not(.is-tablet) .nav-open #nav .nav-bg{
		height: 235px;
		transition: height 0.4s 0s;
	}
	body:not(.is-tablet) .nav-open #nav .depth-2{
		opacity: 1; visibility: visible;
		transition: opacity 0.2s 0.2s, visibility 0.2s 0.2s;
	}



	body.is-tablet #nav > ul,
	body.is-tablet #nav > ul > li,
	body.is-tablet #nav .depth-1{height: auto;}

	body.is-tablet #nav{ display: none;
		position: fixed; top: var(--header); left: 0; right: 0;
		width: 100%; height: calc(100% - var(--header));
		background-color: var(--white);
	}
	body.is-tablet #nav .nav-bg{display: none !important;}

	body.is-tablet #nav > ul{ 
		overflow-y: auto; height: calc(100% - 120px);
		flex-direction: column; align-items: flex-start; 
	}
	body.is-tablet #nav > ul > li,
	body.is-tablet #nav :is(.depth-1, .depth-2, .depth-2 li , .depth-2 li a){width: 100%;}

	body.is-tablet #nav .depth-1{ position: relative;
		width: 100%; padding-block: 16px; padding-inline: 40px;
		font-size: 24px; font-weight: 400;
	}
	body.is-tablet #nav .depth-1::after{
		content: ""; position: absolute; top: 50%; right: 40px; transform: translateY(-50%) rotate(180deg);
		width: 24px; aspect-ratio: 1/1;
		background-color: var(--gray-05);
		-webkit-mask: url("../../images/@ico/up-down.svg") center center / cover no-repeat;
				mask: url("../../images/@ico/up-down.svg") center center / cover no-repeat;
	}
	body.is-tablet#nav li:last-child .depth-1::after{display: none;}
	body.is-tablet #nav > ul > li.current .depth-1::after{
		transform: translateY(-50%) rotate(0deg);
		background-color: var(--gray-99);
	}
	body.is-tablet #nav .depth-2{display: none;}
	body.is-tablet #nav .depth-2 li{}
	body.is-tablet #nav .depth-2 a{padding-block: 8px; padding-inline: 40px;}
	body.is-tablet #nav .util-wrap{position: absolute; bottom: 0;}
	body.is-tablet #nav > ul > li.current .depth-2{display: block;}

	body.is-tablet.opened-nav #nav{display: block !important;}

}
@media all and (max-width: 1023px) {

	#nav > ul,
	#nav > ul > li,
	#nav .depth-1{height: auto;}

	#nav{ display: none; 
		position: fixed; top: var(--header); left: 0; right: 0;
		width: 100%; height: calc(100% - var(--header));
		background-color: var(--white);
	}
	#nav .nav-bg{display: none !important;}

	#nav > ul{ 
		overflow-y: auto; height: calc(100% - 120px);
		flex-direction: column; align-items: flex-start; 
	}
	#nav > ul > li,
	#nav :is(.depth-1, .depth-2, .depth-2 li , .depth-2 li a){width: 100%;}

	#nav .depth-1{ position: relative;
		width: 100%; padding-block: 16px; padding-inline: 40px;
		font-size: 24px; font-weight: 400;
	}
	#nav .depth-1::after{
		content: ""; position: absolute; top: 50%; right: 40px; transform: translateY(-50%) rotate(180deg);
		width: 24px; aspect-ratio: 1/1;
		background-color: var(--gray-05);
		-webkit-mask: url("../../images/@ico/up-down.svg") center center / cover no-repeat;
				mask: url("../../images/@ico/up-down.svg") center center / cover no-repeat;
	}
	#nav li:last-child .depth-1::after{display: none;}
	#nav > ul > li.current .depth-1::after{
		transform: translateY(-50%) rotate(0deg);
		background-color: var(--gray-99);
	}
	#nav .depth-2{display: none;}
	#nav .depth-2 li{}
	#nav .depth-2 a{padding-block: 8px; padding-inline: 40px;}
	#nav .util-wrap{position: absolute; bottom: 0;}
	#nav > ul > li.current .depth-2{display: block;}

	.opened-nav #nav{display: block !important;}
}
@media all and (max-width: 767px) {
	#nav .depth-1,
	#nav .depth-2 a,
	#nav .util-wrap .lang-box > span{padding-inline: 20px;}
	#nav .depth-1::after{right: 20px;}
}


/* // [Nav Component End] 네비게이션 스타일 종료 */


/* ========================================
[Footer Component] 푸터 스타일
======================================== */

#footer{
	position: relative; z-index: 3;
	width: 100%; padding-block: 94px calc(60px + env(safe-area-inset-bottom));
	background-color: var(--white); border-top: 1px solid var(--gray-02-2);
}
#footer .inner{
	padding-inline: 100px;
	display: flex; flex-direction: column;
	gap: 120px;
}
#footer .footer-top,
#footer .footer-bottom{ 
	position: relative; display: flex;
	gap: 48px;
}

#footer .footer-top .button-area,
#footer .footer-top .footer-menu,
#footer .footer-bottom .info-area,
#footer .footer-bottom .copy-wrap{width: 50%;}

/** [Footer Top] **/
#footer .footer-top{align-items: flex-start;}
#footer .footer-top .button-area{ gap: 22px; }
#footer .footer-top .button-area .btn.go-shop{ 
	gap: 4px; font-size: 14px;
}
#footer .footer-top .button-area ul{ gap: 12px; }
#footer .footer-top .footer-menu{ 
	display: flex; gap: 40px;
}
#footer .footer-top .footer-menu > li > a{
	font-size: 20px; font-weight: 700;
	color: var(--gray-99);
}
#footer .footer-top .footer-menu ul{margin-top: 24px;}
#footer .footer-top .footer-menu ul a{
	display: flex; 
	line-height: 1.6; color: var(--gray-06);
	font-weight: 400;
}

/** [Footer Bottom] **/
#footer .footer-bottom{align-items: flex-end;}
#footer .footer-bottom .info-area,
#footer .footer-bottom .info-area address{
	display: flex; flex-direction: column;
	gap: 8px;
}
#footer .footer-bottom .info-area{}
#footer .footer-bottom .info-area span{font-size: 14px; font-weight: 400; line-height: normal;}
#footer .footer-bottom .info-area .btn{color: var(--black); line-height: normal;}
#footer .footer-bottom .info-area address{ font-style: normal; text-decoration: none !important; }
#footer .footer-bottom .info-area address span{display: block; color: var(--black-op-60);}

#footer .footer-bottom .copy-wrap{}
#footer .footer-bottom .copy{font-size: 13px; font-weight: 400; color: var(--black-op-60);}
@media (any-hover: hover) and (any-pointer: fine) {
	#footer .footer-top .button-area .btn.go-shop .ico{ transition: transform 0.4s ease; }
	#footer .footer-top .button-area .btn.go-shop:hover .ico{ transform: translate(2px, -2px); }
}
@media all and (max-width: 1023px) {
	#footer .footer-top,
	#footer .footer-bottom{ flex-direction: column; }
	#footer .footer-top{}
	#footer .footer-top .footer-menu > li > a{ font-size: 18px; line-height: 1.6; }
	#footer .footer-top .footer-menu ul a{ font-size: 15px; }

	#footer .footer-bottom{align-items: flex-start;}
	
}
@media all and (min-width: 768px)  and (max-width: 1240px) {
	#footer .inner{padding-inline: 64px;}
	#footer .footer-top .button-area,
	#footer .footer-bottom .info-area{width: 45%;}
	#footer .footer-top .footer-menu,
	#footer .footer-bottom .copy-wrap{width: 65%;}

}
@media all and (min-width: 768px){
	#footer .footer-bottom .logo{position: absolute; bottom: 0; right: 0;}
}
@media all and (max-width: 767px) {
	#footer{padding-block: calc(80px + env(safe-area-inset-bottom)) ;} 
	#footer .inner{padding-inline: 32px; gap: 60px;}
	
	#footer .footer-top,
	#footer .footer-bottom{gap: 60px;}

	#footer .footer-top .button-area,
	#footer .footer-top .footer-menu,
	#footer .footer-bottom .info-area,
	#footer .footer-bottom .copy-wrap{width: 100%;}

	#footer .footer-top{}
	#footer .footer-top .footer-menu{ flex-direction: column; gap: 20px; }
	#footer .footer-top .footer-menu > li > a{ width: 100%; font-size: 16px;}
	#footer .footer-top .footer-menu ul{
		margin-top: 8px;
		display: flex; align-items: center; gap: 24px;
	}
	#footer .footer-top .footer-menu ul li{position: relative;}
	#footer .footer-top .footer-menu ul li + li::after{
		content: ""; position: absolute; top: 50%; transform: translateY(-50%); left: -13px;
		width: 3px; height: 3px; 
		background-color: var(--gray-06); border-radius: 50%;
	}

	#footer .footer-top .footer-menu ul a{ font-size: 14px; }

	#footer .footer-bottom .copy-wrap{
		display: flex; flex-direction: column;
		gap: 20px;
	}
}
@media all and (max-width: 360px){
	#footer .footer-top .footer-menu ul{gap: 16px;}
	#footer .footer-top .footer-menu ul li + li::after{left: -9px;}
}
/* // [Footer Component End] 푸터 스타일 종료 */



/* ========================================
[Device Rotate Component] 모바일 가로 모드
======================================== */
.device-area{
	position: fixed; inset: 0 0 0 0; z-index: -1;
	width:100%; height: 100%; padding: 4vw;
	align-items: center;
	justify-content: center;
	background: var(--black-op-80) url('../../images/main/poster02.jpg') center center / cover no-repeat;
	display: none;
}
#deviceRotate,
#deviceRotate > span{
	display: flex; align-items: center;
	justify-content: center;
}

#deviceRotate{ overflow: hidden;
	max-width: 800px; width: 100%; height: 320px; padding-inline: 10px;
	color: var(--black); transition: top 0.4s;
	border-radius: 24px; flex-direction: column; gap: 24px;
}
#deviceRotate > span{gap: 10px; position: relative; z-index: 2;}
#deviceRotate .ico{
	-webkit-mask-position: center center;
	        mask-position: center center;
	-webkit-mask-size: cover;
	        mask-size: cover;
	-webkit-mask-repeat: no-repeat;
	        mask-repeat: no-repeat;

	-webkit-mask-image: url("../../images/@common/deviceRotate.svg");
			mask-image: url("../../images/@common/deviceRotate.svg");

	width: clamp(20px,5.33vw,28px); aspect-ratio: 1/1;
	background-color: var(--black);
}
#deviceRotate .span{font-size: clamp(16px,4.27vw,18px);}
#deviceRotate .img-wrap{position: relative; z-index: 1; width: 260px;}
#deviceRotate .img-wrap img{}
@keyframes deviceRotate {
	0%	{ transform: rotate(0deg); }
	50%	{ transform: rotate(45deg);}
	100%{ transform: rotate(0deg); }
}
.device-landscape.device-area{z-index: 12; display: flex;}
.device-landscape #deviceRotate{top: 0;}
.device-landscape #deviceRotate .ico{animation: deviceRotate 2.5s infinite ease-in-out;}
/* // [Device Rotate Component End] 모바일 가로 모드 종료 */



/* ========================================
[Overlay Popup Component] 팝업 스타일
======================================== */
/*** Common ***/
.overlay{
	position: fixed; top: 0; bottom: 0; left: 0; right: 0; 
	overflow: hidden; visibility: hidden; padding: 2vw; 
	background: rgba(0, 0, 0, 0.2);  z-index: -1;
	display: flex; align-items: center;
	justify-content: center;
}
.overlay.active	{
	visibility: visible; 
	opacity: 1; z-index: 99;
}
.popup	{ overflow: hidden; position: relative; 
	width: 100%; max-width: 400px; 
	height: fit-content; max-height: calc(var(--vh100) - 4vw); 
	min-height: 260px; margin: 0 auto;
	background-color: #fff;
	--pop-height: max-content;
}
.popup-header{ 
	position: relative; 
	height: var(--pop-header);
	padding-block: 40px; padding-inline: 24px;
}
.popup-body	 { overflow-y: auto; padding-block: 0 40px; padding-inline: 24px; }
.popup-header + .popup-body	{
	height: calc(var(--pop-height) - var(--pop-header));
}
.popup .pop-close	{
	position: absolute; top: 24px; right: 24px;
	width: 40px; height : 40px;
}
.popup .pop-close .ico{ background-color: var(--black); }

/* [POPUP - Cookie] */
#popupCookie{}
#popupCookie .popup{max-width: 480px;}
#popupCookie .button-area .btn{ width: 50%; padding-inline: 0; height: 60px; }
#popupCookie .button-area .btn.oneday	{ background-color: var(--gray-02-2); }

#popupCookie .swiper-pagination span	{ background-color: var(--black-op-80); }
@media all and (max-width:767px) {
	#popupCookie{ 
		padding: 0px;
		align-items: flex-end;
	}
	#popupCookie .popup			{ max-height: calc(var(--vh100) - 6vw); }
	#popupCookie .pop-close		{ top: 16px; right: 16px; }
	#popupCookie .popup-header	{ padding-block: 32px; padding-inline: 16px; }
	#popupCookie .popup-body	{ padding-block: 0px 24px; padding-inline: 16px; }
}


/* [POPUP - Gallery] */
#popupGallery{}
#popupGallery .popup{
	overflow: auto;
	background-color: #353535;
}
#popupGallery .popup-header		{ padding-block: 40px; }
#popupGallery .pop-close		{ top: 10px; right: 10px; }
#popupGallery .pop-close .ico	{ background-color: var(--white); }

#popupGallery .img-wrap{width: 100%;}
#popupGallery .text-wrap{ 
	padding: 40px 32px; gap: 10px; 
	display: flex; flex-direction: column;
}
#popupGallery .text-wrap .author{font-size: 16px; color: var(--gray-01);}
#popupGallery .text-wrap .text{font-size: 14px; font-weight: 400; color: var(--gray-01);}
@media all and (max-width:767px) {
	#popupGallery{ 
		padding: 0px;
	}
	#popupGallery .popup			{ min-height: var(--vh100); }
}

/* // [Overlay Popup Component End] 팝업 스타일 종료 */