@charset "utf-8";

/*     TAG a && button common     */
a:is(:link, :visited, :active, :hover)
button:is(:focus), .btn{
    outline: none; color: inherit; font: inherit;
}

/*  TAG a  */
a:is(:link, :visited, :active, :hover){
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/*  TAG button  */
button {
	all: unset; overflow:visible;
    cursor:pointer; border:0; border-radius:0; 
	background:none; -webkit-box-shadow:none; box-shadow:none;
    -webkit-appearance:none; -moz-appearance: none; appearance: none;
    
}
button:disabled { cursor: auto; background-color: #b3b3b3;} /* disabled 디자인 있을 시 수정 */


/*     Button Setting     */
.btn{
    display: inline-flex;  align-items: center; justify-content: center; 
}

/*  Button Size 미사용 Size 삭제 */
.btn.xsmall{
    height: var(--btn-xsmall); font-size: var(--btn-fs-xsmall); padding: 0px var(--btn-p-xsmall);
}
.btn.small{
    height: var(--btn-small); font-size: var(--btn-fs-small); padding: 0px var(--btn-p-small);
}
.btn.medium{
    height: var(--btn-medium); font-size: var(--btn-fs-medium); padding: 0px var(--btn-p-medium);
}
.btn.large{
    height: var(--btn-large); font-size: var(--btn-fs-large); padding: 0px var(--btn-p-large);
}
.btn.xlarge{
    height: var(--btn-xlarge); font-size: var(--btn-fs-xlarge); padding: 0px var(--btn-p-xlarge);
}

/*  Button Color 미사용 Color 삭제  */
.btn.black{background-color: var(--black); color: var(--white);}
.btn.white{background-color: var(--white); color: var(--black) !important;}
.btn.color1{}
.btn.color2{}