@charset "utf-8";

/*     TAG table common     */
table { overflow: hidden; width: 100%;
    border: 0; border-spacing:0;
	border-collapse:collapse;
}
table :is(th, td){ padding: 10px 15px; text-align: center; }
table :is(thead.ta-l th, tbody.ta-l td) {text-align: left;}
table :is(thead.ta-r th, tbody.ta-r td) {text-align: right;}

/*     Table Setting     */
.table-area{overflow: auto auto; position: relative;}
.table thead{}

/* Fixed Header Table */
.table-fixed{height: 300px;}
.table-fixed .table{overflow: auto;} 
.table-fixed .table thead{position: sticky; top: 0;}

/*  Date Table 데이터가 들어 왔을 떄의 테이블 */
.data-table{}
.data-table :is(th, td){}
.data-table th{}
.data-table td{}
.data-table thead{}
.data-table tbody{}







